h1{
	text-align: center;
	float: right;
	color: white;
}
#box{
	 height: 50px;
	 width: 50px;
	 font-size: 30px;
	 text-align: center;

}
#gameBoard{
	text-align: center;

}
#top3{
	padding: 10px;
}
#next3{
	padding: 10px;
}
#last3{
	padding: 10px;
}

#one{
	padding: 10px;
}
#submit{
	text-align: center;
}
#clear{
	text-align: center;
}

body{

/*	background-image: url(stars.jpg);
*/	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}

#time{
	color: white;
}
iframe{
	align-content: center;
}

/*html{
	background-image: linear-gradient(orange, blue);

}
*/
#audio{
	position: absolute;
	color: white;
	text-align: center;
	bottom: 0;
}

/*#bottomOne{

	position: absolute;
	text-align: center;
	margin-top: 120px;
/*	margin-left: 1050px;
*/

a{
	color: white;
}

